@model WebProtectoraMilpatitas.Models.ContratoAdopcionViewModel

@{
    ViewBag.Title = "Eliminar contrato de adopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar contrato de adopcion</h2>

<h3>¿Estás seguro de querer eliminar el contrato de adopción?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI_NIF_Pasaporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI_NIF_Pasaporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EscrituraHogar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EscrituraHogar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustificantePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustificantePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarRecojida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarRecojida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmaCompromiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaCompromiso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
