@model WebProtectoraMilpatitas.Models.ContratoAdopcionViewModel
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;

@{
    ViewBag.Title = "Detalles del contrato de adopcion";

    if (Session["Usuario"] != null)
    {
        if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUsu.cshtml";
        }
    }
}

<h2>Detalles del contrato de adopcion</h2>


<section id="secanim">
    <main id="details">
        <article class="detalle">
            <div>
                <h2>

                    @Html.DisplayFor(model => model.Nombre)
                </h2>

                <p>
                    <b>@Html.DisplayNameFor(model => model.NomUsuario)</b>



                    @Html.DisplayFor(model => model.NomUsuario)
                </p>


                <p>
                    <img style="display:block;margin:auto; width: 200px;height: 200px; border-radius: 80%;" src="/@Html.DisplayFor(model => model.FotoUsuario)" />
                </p>

                <h2>




                    @Html.DisplayFor(model => model.NomAnimal)
                </h2>


                <p>
                    <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(model => model.FotoAnimal)" />
                </p>

                <p>
                    <b>@Html.DisplayNameFor(model => model.DNI_NIF_Pasaporte)</b>

                    @Html.DisplayFor(model => model.DNI_NIF_Pasaporte)
                </p>

                <p>
                    <b>@Html.DisplayNameFor(model => model.EscrituraHogar)</b>

                    @Html.DisplayFor(model => model.EscrituraHogar)
                </p>

                <p>
                    <b>@Html.DisplayNameFor(model => model.JustificantePago)</b>

                    @Html.DisplayFor(model => model.JustificantePago)
                </p>

                <p>
                    <b>@Html.DisplayNameFor(model => model.LugarRecojida)</b>

                    @Html.DisplayFor(model => model.LugarRecojida)
                </p>

                <p>
                    <b>@Html.DisplayNameFor(model => model.FirmaCompromiso)</b>

                    @Html.DisplayFor(model => model.FirmaCompromiso)
                </p>

                <p>
                    <b>@Html.DisplayNameFor(model => model.Estado)</b>

                    @Html.DisplayFor(model => model.Estado)
                </p>
            </div>
            <div>
                <p>
                    @{

                        if (Session["Usuario"] != null)
                        {
                            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                            {
                                <i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
                            }
                        }
                    }
                </p>
                <p>
                    @{

                        if (Session["Usuario"] != null)
                        {
                            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                            {
                                <i class="fas fa-file-signature"></i> @Html.ActionLink("Volver a la lista", "Index")
                            }
                            else
                            {
                                <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Index", "Home")
                            }
                        }
                    }
                </p>
            </div>
        </article>
    </main>
</section>