@model WebProtectoraMilpatitas.Models.ContratoAdopcionViewModel

@{
    ViewBag.Title = "Detalles del contrato de adopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del contrato de adopcion</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI_NIF_Pasaporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI_NIF_Pasaporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EscrituraHogar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EscrituraHogar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JustificantePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JustificantePago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarRecojida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarRecojida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmaCompromiso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaCompromiso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
