@model WebProtectoraMilpatitas.Models.ContratoAdopcionViewModel

@{
    ViewBag.Title = "Editar contrato de adopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar contrato de adopcion</h2>


@using (Html.BeginForm("Edit", "ContratoAdopcion", FormMethod.Post, new { @class = "formNoTanGuapo", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })


    <p class="text">
        @Html.LabelFor(model => model.DNI_NIF_Pasaporte, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.DNI_NIF_Pasaporte, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    @Html.ValidationMessageFor(model => model.DNI_NIF_Pasaporte, "", new { @class = "text-danger" })
    <p class="text">
        @Html.LabelFor(model => model.EscrituraHogar, htmlAttributes: new { @class = "control-label col-md-2", @for = "escritura" })
        <input type="file" id="escritura" name="fileEscritura" />
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.EscrituraHogar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EscrituraHogar, "", new { @class = "text-danger" })
            </div>*@
    </p>

    <p class="text">
        @Html.LabelFor(model => model.JustificantePago, htmlAttributes: new { @class = "control-label col-md-2" })
        <input type="file" id="escritura" name="justipago" />
        @*<div class="col-md-10">
                @Html.EditorFor(model => model.JustificantePago, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JustificantePago, "", new { @class = "text-danger" })
            </div>*@
    </p>

    <p class="text">
        @Html.LabelFor(model => model.LugarRecojida, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.EditorFor(model => model.LugarRecojida, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    @Html.ValidationMessageFor(model => model.LugarRecojida, "", new { @class = "text-danger" })

    <p class="text">
        @Html.LabelFor(model => model.FirmaCompromiso, htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="checkbox">
            @Html.EditorFor(model => model.FirmaCompromiso)
            @Html.ValidationMessageFor(model => model.FirmaCompromiso, "", new { @class = "text-danger" })
        </div>
    </p>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </div>

        }

        <div class="parrafoCentrar"> 
            <i class="fas fa-file-signature"></i> @Html.ActionLink("Volver a la lista", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
