@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.ContratoAdopcionViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contratos de Adopcion</h2>

<p>
    <i class="fas fa-plus"></i> @Html.ActionLink("Crear nuevo contrato", "Create")
</p>

@if (((string)TempData["mensajeModal"]) != null)
{
    <div id="capafondo">

        <article id="ar">
            <h2>Contrato de adopción</h2>
            <p>
                @((string)TempData["mensajeModal"])
            </p>
            @if (((string)TempData["mensajeModal"]).Equals("¡Enhorabuena!, Has creado el contrato con éxito, haga click en el enlace de abajo para descargarlo"))
            {
                <p><i class="fas fa-print"></i> @Html.ActionLink("Contrato", "Imprimir", "ContratoAdopcion", new { target = "_blank" })</p>
            }
            <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
        </article>
    </div>


}

<table style="width:50%; margin-left:auto; margin-right:auto; margin-bottom:1em;" class="table">
    <tr>
        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Nombre : @Html.TextBox("nameSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Usuario : @Html.TextBox("usuSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Nombre : @Html.TextBox("aniSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }
    </tr>

    <tr>
        <th>
            @Html.ActionLink("Ordenar por Nombre", "Index", new { sortOrder = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Usuario", "Index", new { sortOrder = ViewBag.UsuSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Animal", "Index", new { sortOrder = ViewBag.AniSort })
        </th>
    </tr>
</table>

<main id="mainart">
    @foreach (var item in Model)
    {
        <article class="articulos">
            <div>

                @if (item.Nombre != null)
                {

                    <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>
                }
                else
                {
                    <h2>@Html.DisplayFor(modelItem => item.Nombre)</h2>
                }




                <p>
                    <b>Usuario:</b>
                    @Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null)
                </p>
                <p>
                    <img style="margin:auto; border-radius: 80%; width: 100px;height: 100px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />
                </p>


                <p>
                    <b>Animal:</b>
                    @Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null)
                </p>
                <p>
                    <img style="margin:auto; width: 100px;height: 100px; border-radius: 80%;" src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />
                </p>

                <p>
                    @Html.ActionLink("Ver solicitud " + item.idSolicitud, "Details", "SolicitudAdopcion", new { id = item.idSolicitud }, htmlAttributes: null)
                </p>
            </div>
            <div>
                <p><i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
                <p><i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id })</p>
                <p><i class="fas fa-info"></i> @Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
                <p><i class="fas fa-trash"></i> @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>

            </div>
        </article>
    }

</main>
<br />
@*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
@if (Model.Any())
{
    <p style="text-align: center;margin-top: 10px;font-size: 18px"> Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
    @*<p style="text-align: center;">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>*@
}
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div class="parrafoCentrar">
    <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Indexad", "Home")
</div>
