@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.ContratoAdopcionViewModel>
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas
@using PagedList.Mvc;

@{
    ViewBag.Title = "ObtenerContratoUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de contratos de adopcion del usuario: @ViewData["NombreUsuario"]</h2>


@{

    if (Session["Usuario"] != null)
    {
        if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
        {
            <p>
                <i class="fas fa-plus"></i> @Html.ActionLink("Crear nuevo contrato", "Create")
            </p>
        }
    }
}


@*@using (Html.BeginForm())
    {

            Nombre : @Html.TextBox("nameSearch") <input style="display:none;" type="submit" value="Buscar" />

    }

    @using (Html.BeginForm())
    {

            Usuario : @Html.TextBox("usuSearch") <input style="display:none;" type="submit" value="Buscar" />

    }

    @using (Html.BeginForm())
    {

            Nombre : @Html.TextBox("aniSearch") <input style="display:none;" type="submit" value="Buscar" />

    }*@
<h2>Filtrar contratos de adopcion de @ViewData["NombreUsuario"] por: </h2>
<div class="readFilters" style="margin-right: auto;margin-left: auto;">
    <ul class="readFiltersUls">
        <li>
            @using (Html.BeginForm())
            {
                <p>
                    <label class="textLabel">Nombre: </label>
                    <label class="searchPoner">
                        @Html.TextBox("nameSearch")
                        <input style="display:none;" id="buscNombreCont" type="submit" value="Buscar" />
                        <label for="buscNombreCont" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
        <li>
            @using (Html.BeginForm())
            {
                <p>
                    <label class="textLabel">
                        Usuario:
                    </label>
                    <label class="searchPoner">
                        @Html.TextBox("usuSearch")
                        <input style="display:none;" id="buscUsuario" type="submit" value="Buscar" />
                        <label for="buscUsuario" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
        <li>
            @using (Html.BeginForm())
            {
                <p>
                    <label class="textLabel">
                        Nombre:
                    </label>
                    <label class="searchPoner">
                        @Html.TextBox("aniSearch")
                        <input style="display:none;" id="bucsarch" type="submit" value="Buscar" />
                        <label for="bucsarch" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
    </ul>
</div>

<h2>Ordenar contratos de adopción de @ViewData["NombreUsuario"] por:</h2>

<div class="enlacesOrdenar">
    <h3>@Html.ActionLink("Ordenar por Nombre", "Index", new { email = ViewData["idUsuario"], sortOrder = ViewBag.NameSort })</h3>
    <h3>@Html.ActionLink("Ordenar por Usuario", "Index", new { email = ViewData["idUsuario"], sortOrder = ViewBag.UsuSort })</h3>
    <h3>@Html.ActionLink("Ordenar por Animal", "Index", new { email = ViewData["idUsuario"], sortOrder = ViewBag.AniSort })</h3>
</div>

    <main id="mainart">
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <article class="articulos">
                    <div>

                        @if (item.Nombre != null)
                        {

                            <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>
                        }
                        else
                        {
                            <h2>@Html.DisplayFor(modelItem => item.Nombre)</h2>
                        }




                        <p>
                            <b>Usuario:</b>
                            @Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null)
                        </p>
                        <p>
                            <img style="margin:auto; border-radius: 90%; width: 100px;height: 100px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />
                        </p>


                        <p>
                            <b>Animal:</b>
                            @Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null)
                        </p>
                        <p>
                            <img style="margin:auto; width: 100px;height: 100px;" border-radius: 90%; src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />
                        </p>
                    </div>
                    <div>
                        <p>
                            @Html.DisplayFor(modelItem => item.idSolicitud)
                        </p>

                        <p><i class="fas fa-info"></i> @Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>

                        @{

                            if (Session["Usuario"] != null)
                            {
                                if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                                {

                                    <p><i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
                                    <p><i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id })</p>

                                    <p><i class="fas fa-trash"></i> @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>
                                }
                                <p>@Html.ActionLink("Rellenar contrato", "contratoRellenar", new { idCon = item.Id })</p>
                            }
                        }

                    </div>
                </article>
            }
        }
        else
        {

            <h2 style="margin-left: auto; margin-right: auto;">Este usuario no tiene contratos de adopción</h2>

        }


    </main>
    @if (Model.Any())
    {
        <p style="margin-left: auto;margin-right: auto;"> Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount </p>
    }
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <p class="parrafoCentrar">
        @{

            if (Session["Usuario"] != null)
            {
                if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                {
                    <i class="fas fa-user"></i> @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
                }
                else
                {
                    <i class="fas fa-id-badge"></i> @Html.ActionLink("Volver a perfil", "Perfil", "Usuario", new { email = ((UsuarioEN)Session["Usuario"]).Email }, htmlAttributes: null)
                }
            }
        }
    </p>


