@model IEnumerable<WebProtectoraMilpatitas.Models.MensajeViewModel>
@using PagedList.Mvc;
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;
@using ProtectoraMilpatitasGenNHibernate.CEN.ProtectoraMilpatitas;
@using System;
@using System.Collections.Generic;

@using ProtectoraMilpatitasGenNHibernate.CAD.ProtectoraMilpatitas;

@using ProtectoraMilpatitasGenNHibernate.CP.ProtectoraMilpatitas;




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chat</h2>


<table class="table">
 
   
@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Enviador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        @if(((UsuarioEN)Session["Usuario"]).Nombre.Equals(item.Enviador)){ 
        <td>
           
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
        }
    </tr>
    }

</table>

<p>
    @Html.ActionLink("Enviar mensaje", "Create")
</p>
<p>
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                <i class="fas fa-user"></i> @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
            }
            else
            {
                <i class="fas fa-id-badge"></i> @Html.ActionLink("Volver a perfil", "Perfil", "Usuario", new { email = ((UsuarioEN)Session["Usuario"]).Email }, htmlAttributes: null)
            }
        }
    }
</p>