@model IEnumerable<WebProtectoraMilpatitas.Models.MensajeViewModel>
@using PagedList.Mvc;
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;
@using ProtectoraMilpatitasGenNHibernate.CEN.ProtectoraMilpatitas;
@using System;
@using System.Collections.Generic;

@using ProtectoraMilpatitasGenNHibernate.CAD.ProtectoraMilpatitas;

@using ProtectoraMilpatitasGenNHibernate.CP.ProtectoraMilpatitas;




@{

    if (Session["Usuario"] != null)
    {
        if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUsu.cshtml";
        }
    }
}

<h2>Chat</h2>

@if (((string)TempData["mensajeModal"]) != null)
{
    <div id="capafondo">

        <article id="ar">
            <h2>Chat</h2>
            <p>
                @((string)TempData["mensajeModal"])
            </p>
            <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
        </article>
    </div>


}



<div id="chatFantasia">
    @{
        foreach (var item in Model)
        {
            if (!((UsuarioEN)Session["Usuario"]).Nombre.Equals(item.Enviador))
            {
                <h2>@Html.DisplayFor(modelItem => item.Enviador)</h2>
                break;
            }
        }
    }

    @foreach (var item in Model)
    {
        if (((UsuarioEN)Session["Usuario"]).Nombre.Equals(item.Enviador))
        {
            <div class="enviador">
                <p style="text-align: center"><b> Yo </b></p>
                <p style="font-size: 20px; margin-top: -10px;">@Html.DisplayFor(modelItem => item.Texto)</p>
                <p style="font-size: 15px; margin-top: -10px;">
                    @Html.DisplayFor(modelItem => item.Fecha)
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </p>
            </div>

        }
        else
        {
            <div class="receptor">
                <p style="text-align: center;"><b>@Html.DisplayFor(modelItem => item.Enviador)</b></p>
                <p style="font-size: 20px; margin-top: -10px;">@Html.DisplayFor(modelItem => item.Texto)</p>
                <p style="font-size: 15px; margin-top: -10px;">@Html.DisplayFor(modelItem => item.Fecha)</p>
            </div>
        }

    }
</div>


<p class="parrafoCentrar">
    @Html.ActionLink("Enviar mensaje", "Create")
</p>
<p class="parrafoCentrar">
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                <i class="fas fa-user"></i> @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
            }
            else
            {
                <i class="fas fa-id-badge"></i> @Html.ActionLink("Volver a perfil", "Perfil", "Usuario", new { email = ((UsuarioEN)Session["Usuario"]).Email }, htmlAttributes: null)
            }
        }
    }
</p>