@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.SeguimientoViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Seguimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seguimientos</h2>

<p>
    @Html.ActionLink("Crear nuevo seguimiento", "Create")
</p>
<main id="mainart">
    

    @foreach (var item in Model)
    {
    <article class="articulos">

        <div>
            <p>
                <b>Usuario:</b>
                @Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null) 
            </p>
                <p>
                    <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />

                </p>


            <p>
                <b>Animal:</b>
                @Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null)
             </p>
                <p> 
                <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />
            </p>

            <p>
                <b>Fecha:</b>
                @Html.DisplayFor(modelItem => item.Fecha)
            </p>
            <p>
                <b>Estado:</b>
                @Html.DisplayFor(modelItem => item.Estado)
            </p>
            <p>
                <b>Descripción:</b>
                @Html.DisplayFor(modelItem=>item.Descripcion)
            </p>
        </div>
        <div>
            <p>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
            <p>@Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id })</p>
            <p>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>
        </div>

    </article>
     }

</main>

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div>
    @Html.ActionLink("Volver a inicio", "Indexad", "Home")
</div>
