@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.SeguimientoViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ObtenerSeguimientoUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de seguimientos del usuario: @ViewData["NombreUsuario"]</h2>

<p>
    @Html.ActionLink("Crear nuevo seguimiento", "Create")
</p>
<p>
    @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
</p>
<table class="table">
    @{
        if (Model.Any())
        {
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Animal
                </th>
                <th>
                    Fecha seguimiento
                </th>
                <th>
                    Estado seguimiento
                </th>

                <th>
                    Descripción
                </th>
            </tr>
        }
        else
        {
            <tr>No hay seguimientos</tr>
        }
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <figure>
                    <figcaption>@Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null) </figcaption>
                    <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />
                </figure>
            </td>
            <td>
                <figure>
                    <figcaption>@Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null) </figcaption>
                    <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />
                </figure>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))