@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.SeguimientoViewModel>
@using PagedList.Mvc;
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas

@{
    ViewBag.Title = "ObtenerSeguimientoUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de seguimientos del usuario: @ViewData["NombreUsuario"]</h2>

<p>
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                @Html.ActionLink("Crear nuevo seguimiento", "Create")
            }
        }
    }
</p>

<table style="width:50%; margin-left:auto; margin-right:auto; margin-bottom:1em;" class="table">
    <tr>

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Usuario : @Html.TextBox("usuSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Nombre : @Html.TextBox("aniSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Fecha(dd/mm/yyyy): @Html.TextBox("dateSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Estado : @Html.TextBox("estSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }
    </tr>

    <tr>
        <th>
            @Html.ActionLink("Ordenar por Usuario", "Index", new { email= ViewData["idUsuario"], sortOrder = ViewBag.UsuSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Animal", "Index", new { email = ViewData["idUsuario"], sortOrder = ViewBag.AniSort })
        </th>

        <th>
            @Html.ActionLink("Ordenar por Fecha", "Index", new { email = ViewData["idUsuario"], sortOrder = ViewBag.DateSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Estado", "Index", new { email = ViewData["idUsuario"], sortOrder = ViewBag.EstSort })
        </th>
    </tr>
</table>

<main id="mainart">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <article class="articulos">

                <div>
                    <p>
                        <b>Usuario:</b>
                        @Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null)
                    </p>
                    <p>
                        <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />

                    </p>


                    <p>
                        <b>Animal:</b>
                        @Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null)
                    </p>
                    <p>
                        <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />
                    </p>

                    <p>
                        <b>Fecha:</b>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </p>
                    <p>
                        <b>Estado:</b>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </p>
                    <p>
                        <b>Descripción:</b>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </p>
                </div>
                <div>
                    <p>@Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
                    @{

                        if (Session["Usuario"] != null)
                        {
                            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                            {
                                <p>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
                                <p>@Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id })</p>
                                <p>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>
                            }
                        }
                    }
                </div>

            </article>
        }
    }
    else
    { 
            <h2 style="margin-left: auto;margin-right: auto;">Este usuario no tiene seguimientos</h2>
    }



</main>
@if (Model.Any())
{
    <p style="margin-left: auto;margin-right: auto;">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
}
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<p>
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
            }
            else
            {
                @Html.ActionLink("Volver a perfil", "Perfil", "Usuario", new { email = ((UsuarioEN)Session["Usuario"]).Email }, htmlAttributes: null)
            }
        }
    }
</p>