@{
    ViewBag.Title = "Protectora Milpatitas";
}

<h2>Protectora Milpatitas</h2>

<ul>
    <li>@Html.ActionLink("Animales", "Index", "Animal")</li>
    <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
    <li>@Html.ActionLink("Solicitudes Adopcion", "Index", "SolicitudAdopcion")</li>
    <li>@Html.ActionLink("Contratos Adopcion", "Index", "ContratoAdopcion")</li>
    <li>@Html.ActionLink("Seguimientos", "Index", "Seguimiento")</li>
</ul>
