
@{
    ViewBag.Title = "Indexad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Protectora Milpatitas</h2>

<ul class="inicio">
    <li><i class="fas fa-paw"></i> @Html.ActionLink("Animales", "Index", "Animal") | Hay @ViewData["NumAni"] animales</li>
    <li><i class="fas fa-clipboard-list"></i> @Html.ActionLink("Tests Animal Ideal", "Index", "TestAnimalIdeal") | Hay @ViewData["NumTest"] tests animal ideal</li>
    <li><i class="fas fa-user"></i> @Html.ActionLink("Usuarios", "Index", "Usuario") | Hay @ViewData["NumUsu"] usuarios</li>
    <li><i class="fas fa-edit"></i> @Html.ActionLink("Solicitudes Adopcion", "Index", "SolicitudAdopcion") | Hay @ViewData["NumSol"] solicitudes</li>
    <li><i class="fas fa-file-signature"></i> @Html.ActionLink("Contratos Adopcion", "Index", "ContratoAdopcion") | Hay @ViewData["NumCon"] contratos</li>
    <li><i class="fas fa-eye"></i> @Html.ActionLink("Seguimientos", "Index", "Seguimiento") | Hay @ViewData["NumSeg"] seguimientos</li>
</ul>

