@model WebProtectoraMilpatitas.Models.AnimalViewModel
@using System.Web.Mvc.Ajax

@{
    ViewBag.Title = "Crear nuevo animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear nuevo animal</h2>

@using (Html.BeginForm("Create", "Animal", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formGuapo" }))
{
    @Html.AntiForgeryToken()
    

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p class="text">
    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })

    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
</p>
    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

<p class="text">
    @Html.LabelFor(model => model.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
</p>    
    @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })

<p class="text">
    @Html.LabelFor(model => model.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })

    @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
</p>
    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })


<p class="text">
    @Html.LabelFor(model => model.Centro, htmlAttributes: new { @class = "control-label col-md-2" })

    @Html.EditorFor(model => model.Centro, new { htmlAttributes = new { @class = "form-control" } })
</p>
    @Html.ValidationMessageFor(model => model.Centro, "", new { @class = "text-danger" })

<p class="text">
    @Html.LabelFor(model=>model.FechaLlegada, htmlAttributes: new { @class="control-label col-md-2"})
    @Html.EditorFor(model=>model.FechaLlegada, new { htmlAttributes = new { @class = "form-control" } })
</p>
    @Html.ValidationMessageFor(model=>model.FechaLlegada, "", new { @class="text-danger"})

<p class="text">
    @Html.LabelFor(model => model.Caracter, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Caracter, new { htmlAttributes = new { @class = "form-control" } })
</p>
        @Html.ValidationMessageFor(model => model.Caracter, "", new { @class = "text-danger" })


<p class="text">
    @Html.LabelFor(model => model.DatosMedicos, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EnumDropDownListFor(model => model.DatosMedicos, new { htmlAttributes = new { @class = "form-control" } })
</p>
        @Html.ValidationMessageFor(model => model.DatosMedicos, "", new { @class = "text-danger" })

<p class="text">
    @Html.LabelFor(model => model.idEspecie, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.DropDownListFor(model => model.idEspecie, ViewData["idEspecie"] as SelectList, "Selecciona una especie")
</p>
<p class="text">
    @Html.LabelFor(model => model.idRaza, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.DropDownListFor(model => model.idRaza, ViewData["idRaza"] as SelectList, "Selecciona una raza")
</p>

<p class="parFoto">
    @Html.LabelFor(model => model.Foto)
    <br />
    <label for="foto"><img style="width:200px;height:200px;" src="~/Imagenes/animales/perfil_perro.jpg" /></label>
    <input onchange="cargarFoto(this);" style="display:none;" id="foto" type="file" name="file" />
</p>
<p class="busFot"><label for="foto">Buscar Foto</label></p>
        @Html.ValidationMessageFor(model => model.Foto)
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
