@model WebProtectoraMilpatitas.Models.AnimalViewModel

@{
    ViewBag.Title = "Protectoramilpatitas-Pagina de detalle de animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del animal</h2>
<section id="secanim">
    <article class="detalle">
        <h2>@Html.ActionLink(Model.Nombre, "Details", new { id = Model.Id })</h2>
        <img  src="/@Html.DisplayFor(modelItem => Model.Foto)" />
        <p>
            <b>@Html.DisplayNameFor(model => model.Edad): </b> <b>@Html.DisplayFor(modelItem => Model.Edad)</b>
            <b>@Html.DisplayNameFor(model => model.Sexo): </b>
            @if (Model.Sexo.ToString().Equals("H"))
            {<label >Hembra.</label>}
            else
            {<label >Macho.</label>}
        </p>
        <p><b>@Html.DisplayNameFor(model => model.Centro): </b> @Html.DisplayFor(modelItem => Model.Centro)</p>
        <p><b>@Html.DisplayNameFor(model => model.Caracter): </b> @Html.DisplayFor(modelItem => Model.Caracter)</p>
        <p>
            <b>@Html.DisplayNameFor(model => model.DatosMedicos): </b>
            @if (Model.DatosMedicos.ToString().Equals("enRecuperacion"))
            {
                <label >En Recuperación</label>
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.DatosMedicos)

            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.idEspecie): </b>
            @Html.ActionLink(Model.NomEspecie, "ObtenerAnimalesPorEspecie", new { p_especie = Model.idEspecie }, htmlAttributes: null)
        </p>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id })</p>
          <p> @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = Model.Id })</p>
        
       
           <p> @Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = Model.Id })</p>
          <p>@Html.ActionLink("Detalles", "Details", new { id = Model.Id })</p>
        
        @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id }) |

        @if (Model.EstadoAdopcion.ToString().Equals("SinTramite"))
        {
            <p>@Html.ActionLink("Adoptar", "Create", "SolicitudAdopcion", new { model = Model.Id }, new { @class = "Buttons" })</p>
        }
        else
        {

            <p>Animal no disponible!</p>
        }
    </article>
</section>
        @*<div>
            <h4>@Html.DisplayFor(model => model.Nombre)</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                        @Html.DisplayNameFor(model => model.Foto)
                </dt>

                <dd>
                   <img style="width: 200px;height: 200px;" src="/@Html.DisplayFor(model => model.Foto)" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Edad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Centro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Centro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Caracter)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Caracter)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DatosMedicos)
                </dt>
                @if (Model.DatosMedicos.ToString().Equals("enRecuperacion"))
                {
                    <dd>
                        En recuperación
                    </dd>
                }
                else
                {
                    <dd>
                        @Html.DisplayFor(model => model.DatosMedicos)
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.EstadoAdopcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstadoAdopcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.idEspecie)
                </dt>
                <dd>

                    @Html.DisplayFor(model => @ViewData["NombreEsp"])
                </dd>

            </dl>
        </div>*@
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Volver a la lista", "Index")
        </p>
