@model WebProtectoraMilpatitas.Models.AnimalViewModel
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;

@{
    ViewBag.Title = "Protectoramilpatitas-Pagina de detalle de animal";

    if (Session["Usuario"] != null)
    {
        if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUsu.cshtml";
        }
    }

}

<h2>Detalles del animal</h2>
<section id="secanim">
    <main id="details">
        <article class="detalle">
            <h2>@Html.ActionLink(Model.Nombre, "Details", new { id = Model.Id })</h2>
            <img src="/@Html.DisplayFor(modelItem => Model.Foto)" />
            <div id="divAnim">
                <div id="datis">
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Edad): </b> @Html.DisplayFor(modelItem => Model.Edad)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Sexo): </b>
                        @if (Model.Sexo.ToString().Equals("H"))
                        {<label style="font-weight:normal;">Hembra</label>}
                        else
                        {<label style="font-weight:normal;">Macho</label>}
                    </p>
                    <p><b>@Html.DisplayNameFor(model => model.Centro): </b> @Html.DisplayFor(modelItem => Model.Centro)</p>
                    <p><b>@Html.DisplayNameFor(model => model.Caracter): </b> @Html.DisplayFor(modelItem => Model.Caracter)</p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.DatosMedicos): </b>
                        @if (Model.DatosMedicos.ToString().Equals("enRecuperacion"))
                        {
                            <label style="font-weight:normal;">En Recuperación</label>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.DatosMedicos)

                        }
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.idEspecie): </b>
                        @Html.DisplayFor(modelItem => Model.NomEspecie)
                    </p>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.idRaza): </b>
                        @Html.DisplayFor(modelItem => Model.NomRaza)
                    </p>
                </div>

                @if (Session["Usuario"] != null)
                {
                    if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                    {
                        <div id="enlacis">
                            <p>
                                <i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { id = Model.Id })
                            </p>
                            <p> <i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = Model.Id })</p>


                            <p> <i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = Model.Id })</p>

                            <p><i class="fas fa-trash"></i> @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id })</p>
                        </div>
                    }
                }

            </div>
            @if (Model.EstadoAdopcion.ToString().Equals("SinTramite"))
            {
                <p><i class="fas fa-hand-holding-heart"></i> @Html.ActionLink("Adoptar", "Create", "SolicitudAdopcion", new { model = Model.Id }, new { @class = "Buttons" })</p>
            }
            else
            {

                <p>Animal no disponible!</p>
            }
        </article>
    </main>
</section>
<p class="parrafoCentrar">
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                <i class="fas fa-paw"></i> @Html.ActionLink("Volver a la lista", "Index")
            }
            else
            {
                <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Index", "Home")
            }
        }
    }
</p>
