@model IEnumerable<WebProtectoraMilpatitas.Models.AnimalViewModel>

@{
    ViewBag.Title = "Index animales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Animales</h2>

<p>
    @Html.ActionLink("Subir nuevo animal", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Centro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caracter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosMedicos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEspecie)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.Nombre, "Details", new { id = item.Id }) 
    </td>
    <td>
        <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.Foto)"/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sexo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Centro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Caracter)
    </td>
    @if (item.DatosMedicos.ToString().Equals("enRecuperacion"))
    {
        <td>En Recuperación</td>
    }
    else
    {
    <td>
        @Html.DisplayFor(modelItem => item.DatosMedicos)
    </td>
    }
    <td>
        @Html.DisplayFor(modelItem => @ViewData["NombreEspecie"])
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id }) |
        @Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = item.Id }) |
        @Html.ActionLink("Obtener animales por especie", "ObtenerAnimalesPorEspecie", new { p_especie = item.idEspecie }, htmlAttributes: null) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>

<div>
    @Html.ActionLink("Volver a inicio", "Index", "Home")
</div>
