@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.AnimalViewModel>
@using PagedList.Mvc
@using ProtectoraMilpatitasGenNHibernate.CEN.ProtectoraMilpatitas;
@using ProtectoraMilpatitasGenNHibernate.CAD.ProtectoraMilpatitas;
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;
@{
    ViewBag.Title = "Index animales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (((string)TempData["mensajeModalAnimal"]) != null)
{
    if (((string)TempData["mensajeModalAnimal"]).Equals("") == false)
    {
        <div id="capafondo">
            <!--  <script>"mensajeModal();"</script> -->
            <article id="ar">
                <h2>Animal</h2>
                <p>@TempData["mensajeModalAnimal"].ToString()</p>
                <footer><button class="button" onclick="cerrarMensajeModal();">Cerrar</button></footer>
            </article>
        </div>
    }
}

<h3>@Html.ActionLink("Especies", "Index", "Especie")</h3>

<p>
    <i class="fas fa-plus"></i> @Html.ActionLink("Subir nuevo animal", "Create")
</p>

<h2 style="text-align: center;">Filtrar animales por: </h2>

<div class="readFilters" style="margin-right: auto;margin-left: auto;">
    <ul class="readFiltersUls">
        <li class="readFiltersLis">
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Nombre: </label>
                    <label class="searchPoner">
                        @Html.TextBox("nameSearch")
                        <input type="submit" id="buscsarch" style="display:none;" value="Buscar" />
                        <label for="buscsarch" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>

            }
        </li>
        <li>
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel"> Edad: </label>
                    <label class="searchPoner">
                        @Html.TextBox("edadSearch")
                        <input style="display:none;" id="buscEdad" type="submit" value="Buscar" />
                        <label for="buscEdad" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>

            }
        </li>
        <li>
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Sexo(H / M) : </label>
                    <label class="searchPoner">
                        @Html.TextBox("sexoSearch")
                        <input style="display: none" id="buscSexo" type="submit" value="Buscar" />
                        <label for="buscSexo" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
        <li>
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Centro: </label>
                    <label class="searchPoner">
                        @Html.TextBox("centroSearch")
                        <input style="display:none" id="buscCentro" type="submit" value="Buscar" />
                        <label for="buscCentro" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>

            }
        </li>
        <li>
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Caracter: </label>
                    <label class="searchPoner">
                        @Html.TextBox("caracterSearch")
                        <input style="display:none;" id="buscCaracter" type="submit" value="Buscar" />
                        <label for="buscCaracter" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>

            }
        </li>
        <li>
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Estado Salud: </label>
                    <label class="searchPoner">
                        @Html.TextBox("estSearch")
                        <input style="display:none;" id="buscEstado" type="submit" value="Buscar" />
                        <label for="buscEstado" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
        <li>
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Especie: </label>
                    <label class="searchPoner">
                        @Html.TextBox("espSearch")
                        <input style="display:none;" id="buscEspecie" type="submit" value="Buscar" />
                        <label for="buscEspecie" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
        <li style="margin-bottom: 25px;">
            @using (Html.BeginForm())
            {

                <p>
                    <label class="textLabel">Raza: </label>
                    <label class="searchPoner">
                        @Html.TextBox("razSearch")
                        <input style="display:none;" id="buscRaza" type="submit" value="Buscar" />
                        <label for="buscRaza" style="margin-left: 10px;" class="fas fa-search"></label>
                    </label>
                </p>
            }
        </li>
    </ul>
</div>

<h2>Ordenar Animales por: </h2>
<div class="enlacesOrdenar">
    <h3>@Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSort })</h3>

    <h3>@Html.ActionLink("Edad", "Index", new { sortOrder = ViewBag.EdadSort })</h3>

    <h3>@Html.ActionLink("Edad", "Index", new { sortOrder = ViewBag.EdadSort })</h3>

    <h3>@Html.ActionLink("Sexo", "Index", new { sortOrder = ViewBag.SexoSort })</h3>

    <h3>@Html.ActionLink("Centro", "Index", new { sortOrder = ViewBag.CentroSort })</h3>

    <h3>@Html.ActionLink("Caracter", "Index", new { sortOrder = ViewBag.CaracterSort })</h3>

    <h3>@Html.ActionLink("Estado Salud", "Index", new { sortOrder = ViewBag.EstadoSort })</h3>

    <h3>@Html.ActionLink("Especie", "Index", new { sortOrder = ViewBag.EspecieSort })</h3>

    <h3>@Html.ActionLink("Raza", "Index", new { sortOrder = ViewBag.RazaSort })</h3>
</div>

<h2 style="text-align: center;">Animales: </h2>

<main id="mainart">
    @foreach (var item in Model)
    {
        <article class="articulos">
            <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>

            <img style:"border-radius: 80%; width: 250px; height: 250px;" src="/@Html.DisplayFor(modelItem => item.Foto)" />
            <div>
                <p>
                    <b>Edad: </b>
                    @Html.DisplayFor(modelItem => item.Edad)
                </p>
                <p>
                    <b>Sexo: </b>

                    @if (item.Sexo.ToString().Equals("H"))
                    {
                        <label style="font-weight:normal;">Hembra</label>
                    }
                    else
                    {
                        <label style="font-weight:normal;">Macho</label>
                    }
                </p>
                <p>
                    <b>
                        Centro:
                    </b> @Html.DisplayFor(modelItem => item.Centro)
                </p>
                <p>
                    <b>
                        Caracter:
                    </b> @Html.DisplayFor(modelItem => item.Caracter)
                </p>
                <p>
                    <b>Datos Medicos: </b>
                    @if (item.DatosMedicos.ToString().Equals("enRecuperacion"))
                    {
                        <label style="font-weight:normal;">En Recuperación</label>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DatosMedicos)

                    }
                </p>
                <p>
                    <b>Especie: </b>
                    @Html.ActionLink(item.NomEspecie, "ObtenerAnimalesPorEspecie", new { p_especie = item.idEspecie }, htmlAttributes: null)
                </p>
                <p>
                    <b>Raza: </b>
                    @Html.DisplayFor(modelItem => item.NomRaza)
                </p>
                <p><i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
                <p><i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id }) </p>
                <p><i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = item.Id })</p>
                <p><i class="fas fa-info"></i> @Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
                <p><i class="fas fa-trash"></i> @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>


            </div>


            @{
                bool comprobar = false;
                string nombreUsu = "";
                string idUsu = "";

                if (Session["Usuario"] != null)
                {
                    nombreUsu = ((UsuarioEN)Session["Usuario"]).Nombre;
                    idUsu = ((UsuarioEN)Session["Usuario"]).Email;
                }

                IList<SolicitudAdopcionEN>
                    soliEN = new SolicitudAdopcionCEN().Obtener_Solicitud_Usuario(idUsu);

                foreach (SolicitudAdopcionEN sol in soliEN)
                {
                    if (sol.Animal.Id == item.Id && sol.Usuario.Email.Equals(idUsu))
                    {
                        comprobar = true;
                        break;
                    }
                }

                if (comprobar)
                {
                    <p>Ya has realizado una solicitud a este animal</p>
                }
                else
                {
                    if (item.EstadoAdopcion.ToString().Equals("SinTramite") || item.EstadoAdopcion.ToString().Equals("EnSolicitud"))
                    {
                        <p><i class="fas fa-hand-holding-heart"></i> @Html.ActionLink("Adoptar", "Encuesta", "SolicitudAdopcion", new { id = item.Id }, new { @class = "Buttons" })</p>
                    }
                    else
                    {

                        <p>Animal no disponible!</p>
                    }
                }
            }
        </article>
    }

</main>
<br />
<p style="text-align: center;margin-top: 10px;font-size: 18px"> Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
@*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div class="parrafoCentrar">
    <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Indexad", "Home")
</div>
