@model IEnumerable<WebProtectoraMilpatitas.Models.AnimalViewModel>

@{
    ViewBag.Title = "Index animales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Scripts/mediaquery.css" type="text/css" media="screen" />
<h2>Animales</h2>
<h3>@Html.ActionLink("Especies", "Index", "Especie")</h3>

<p>
    @Html.ActionLink("Subir nuevo animal", "Create")
</p>

<h2 style="text-align: center;">Últimos animales</h2>
<main id="mainart">
    @foreach (var item in Model)
    {
    <article class="articulos">
        <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>
        <img style="width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.Foto)" />
        <p>
            <b>@Html.DisplayNameFor(model => model.Edad): </b> @Html.DisplayFor(modelItem => item.Edad) ||
            <b>@Html.DisplayNameFor(model => model.Sexo): </b>
            @if (item.Sexo.Equals("H"))
            {<label style="font-weight:normal;">Hembra.</label>}
            else
            {<label style="font-weight:normal;">Macho.</label>}
        </p>
        <p><b>@Html.DisplayNameFor(model => model.Centro): </b> @Html.DisplayFor(modelItem => item.Centro)</p>
        <p><b>@Html.DisplayNameFor(model => model.Caracter): </b> @Html.DisplayFor(modelItem => item.Caracter)</p>
        <p>
            <b>@Html.DisplayNameFor(model => model.DatosMedicos): </b>
            @if (item.DatosMedicos.ToString().Equals("enRecuperacion"))
            {
                <label style="font-weight:normal;">En Recuperación</label>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.DatosMedicos)

            }
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.idEspecie): </b>
            @Html.ActionLink(item.NomEspecie, "ObtenerAnimalesPorEspecie", new { p_especie = item.idEspecie }, htmlAttributes: null)
        </p>
        <p>@Html.ActionLink("Editar", "Edit", new { id = item.Id }) ||
        @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id }) </p>
        <p>@Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = item.Id }) ||
        @Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |

        @if (item.EstadoAdopcion.ToString().Equals("SinTramite"))
        {
            <p>@Html.ActionLink("Adoptar", "Create", "SolicitudAdopcion", new { id = item.Id }, htmlAttributes: null)</p>
        }
        else
        {

            <p>Animal no disponible!</p>
        }

    </article>
    }

</main>

<h2>Aquí cambia</h2>

<!--
<table class="table">
    <tr>
        <th>
            Animal
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Centro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caracter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatosMedicos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idEspecie)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <figure>
            <figcaption>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id }) </figcaption>
            <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.Foto)" />
        </figure>        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Sexo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Centro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Caracter)
    </td>
    @if (item.DatosMedicos.ToString().Equals("enRecuperacion"))
    {
        <td>En Recuperación</td>
    }
    else
    {
    <td>
        @Html.DisplayFor(modelItem => item.DatosMedicos)
    </td>
    }
<td>
    @Html.ActionLink(item.NomEspecie, "ObtenerAnimalesPorEspecie", new { p_especie = item.idEspecie }, htmlAttributes: null)
</td>
<td>
    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id }) |
    @Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = item.Id }) |
    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |

    @if (item.EstadoAdopcion.ToString().Equals("SinTramite"))
    {
        @Html.ActionLink("Adoptar", "Create","SolicitudAdopcion", new {id = item.Id }, htmlAttributes: null)
    }
    else {
        
        <p>Animal no disponible!</p>
    }
</td>
</tr>
}

</table>
    -->


<div>
    @Html.ActionLink("Volver a inicio", "Indexad", "Home")
</div>
