@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.AnimalViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ObtenerAnimalesPorEspecie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de la Especie @ViewData["NombreEspecie"]</h2>

<main id="mainart">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <article class="articulos">
                <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>

                <img src="/@Html.DisplayFor(modelItem => item.Foto)" />
                <div>
                    <p>
                        <b>Edad: </b>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </p>
                    <p>
                        <b>Sexo: </b>

                        @if (item.Sexo.ToString().Equals("H"))
                        {
                            <label style="font-weight:normal;">Hembra.</label>
                        }
                        else
                        {
                            <label style="font-weight:normal;">Macho.</label>
                        }
                    </p>
                    <p>
                        <b>
                            Centro:
                        </b> @Html.DisplayFor(modelItem => item.Centro)
                    </p>
                    <p>
                        <b>
                            Caracter:
                        </b> @Html.DisplayFor(modelItem => item.Caracter)
                    </p>
                    <p>
                        <b>Datos Medicos: </b>
                        @if (item.DatosMedicos.ToString().Equals("enRecuperacion"))
                        {
                            <label style="font-weight:normal;">En Recuperación</label>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DatosMedicos)

                        }
                    </p>
                    <p>
                        <b>Especie: </b>
                        @Html.ActionLink(item.NomEspecie, "ObtenerAnimalesPorEspecie", new { p_especie = item.idEspecie }, htmlAttributes: null)
                    </p>
                    <p>
                        <b>Raza: </b>
                        @Html.DisplayFor(modelItem => item.NomRaza)
                    </p>
                    <p>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
                    <p>@Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id }) </p>
                    <p>@Html.ActionLink("Actualizar Datos Medicos", "ActualizarDatosMedicos", new { id = item.Id })</p>
                    <p>@Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
                    <p>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>


                </div>
            </article>
        }
    }
    else
    {
        <article class="articulos">
            <h2>No hay animales de esta especie</h2>
        </article>
    }


</main>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
           
<p>
    @Html.ActionLink("Volver a especies", "Index", "Especie")
</p>
