@model IEnumerable<WebProtectoraMilpatitas.Models.AnimalViewModel>
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;

@{
    ViewBag.Title = "ObtenerAnimalesPorUsuario";
    Layout = "~/Views/Shared/_LayoutUsu.cshtml";
}

<h2>Mascotas del usuario @ViewData["NombreUsu"]</h2>

<table class="table">
    @{
        if (Model.Any())
        {
            <tr>
                <th>
                    Animal
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Centro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatosMedicos)
                </th>
            </tr>
        }
        else
        {
            <tr>No tienes mascotas todavía</tr>
        }
    }

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <figure>
                <figcaption>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id }) </figcaption>
                <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(modelItem => item.Foto)" />
            </figure>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Centro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caracter)
        </td>
        @if (item.DatosMedicos.ToString().Equals("enRecuperacion"))
        {
            <td>En Recuperación</td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.DatosMedicos)
            </td>
        }
    </tr>
    }

</table>

<div>
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
            }
            else
            {
                @Html.ActionLink("Volver a perfil", "Perfil", "Usuario", new { email = ((UsuarioEN)Session["Usuario"]).Email }, htmlAttributes: null)
            }
        }
    }
</div>
