@model WebProtectoraMilpatitas.Models.TestAnimalIdealViewModel

@{
    ViewBag.Title = "Crear nuevo test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear nuevo Test Animal Ideal</h2>

@using (Html.BeginForm("Create", "TestAnimalIdeal", FormMethod.Post, new { @class = "formGuapo" })) 
{
    @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p class="text">
            @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            
                @Html.DropDownListFor(model => model.idUsuario, ViewData["idUsuario"] as SelectList, "Selecciona un usuario")
          </p> 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    
}

<div class="parrafoCentrar">
    <i class="fas fa-clipboard-list"></i> @Html.ActionLink("Volver a la lista", "Index")
</div>
