@model WebProtectoraMilpatitas.Models.TestAnimalIdealViewModel

@{
    ViewBag.Title = "Detalles Test Animal Ideal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles Test Animal Ideal</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AficionFavorita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AficionFavorita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorFavorito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorFavorito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resultado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
