@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.TestAnimalIdealViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tests Animal Ideal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tests Animal Ideal</h2>

<p>
    @Html.ActionLink("Crear nuevo test animal ideal", "Create")
</p>

@if (((string)TempData["mensajeModalTest"]) != null)
{
    <div id="capafondo">

        <article id="ar">
            <h2>Test animal ideal</h2>
            <p>
                @((string)TempData["mensajeModalTest"])
            </p>
            <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
        </article>
    </div>


}

<table class="table">
    <tr>
        @using (Html.BeginForm())
        {
            <th>
                Afición: @Html.TextBox("aficionSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th>
                Personalidad: @Html.TextBox("personSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th>
                Color: @Html.TextBox("colorSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th>
                Usuario: @Html.TextBox("usuSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }
        <th></th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("Ordenar por Aficion", "Index", new { sortOrder = ViewBag.AficionSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Personalidad", "Index", new { sortOrder = ViewBag.PersonalidadSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Color", "Index", new { sortOrder = ViewBag.ColorSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Usuario", "Index", new { sortOrder = ViewBag.UsuarioSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AficionFavorita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorFavorito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div>
    @Html.ActionLink("Volver a inicio", "Indexad", "Home")
</div>
