@model WebProtectoraMilpatitas.Models.TestAnimalIdealViewModel

@{
    ViewBag.Title = "Rellenar Test";
    Layout = "~/Views/Shared/_LayoutUsu.cshtml";
}

<h2>Rellenar Test</h2>

@using (Html.BeginForm("RellenarTest", "TestAnimalIdeal", FormMethod.Post, new { @class = "formTestIdeal" }))
{
    @Html.AntiForgeryToken()


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.LabelFor(model => model.AficionFavorita, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="form-group">
        <p class="textIdeal">
            <label>Animación</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/animacion.png" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Animacion")
        </p>

        <p class="textIdeal">
            <label>Astrología</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/astrologia.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Astrologia")

        </p>
        <p class="textIdeal">
            <label>Bailar</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/bailar.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Bailar")
        </p>
        <p class="textIdeal">
            <label>Cantar</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/cantar.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Cantar")
        </p>

        <p class="textIdeal">
            <label>Hacer deporte</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/deporte.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Hacer deporte")
        </p>
        <p class="textIdeal">
            <label>Dibujar</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/dibujar.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Dibujar")
        </p>
        <p class="textIdeal">
            <label>Leer</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/leer.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Leer")
        </p>
        <p class="textIdeal">
            <label>Manualidades</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Aficiones/manualidades.jpg" />

            @Html.RadioButtonFor(model => model.AficionFavorita, "Manualidades")
        </p>

    </div>
    @Html.LabelFor(model => model.Personalidad, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="form-group">

        <p class="textIdeal">
            <label>Agresiva</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/agresiva.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Agresiva")
        </p>
        <p class="textIdeal">
            <label>Alegre</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/alegre.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Alegre")
        </p>
        <p class="textIdeal">
            <label>Depresiva</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/depresiva.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Depresiva")
        </p>
        <p class="textIdeal">
            <label>Egocéntrica</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/egocentrica.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Egocentrica")
        </p>
        <p class="textIdeal">
            <label>Inteligente</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/inteligente.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Inteligente")
        </p>
        <p class="textIdeal">
            <label>Miedosa</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/miedosa.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Miedosa")
        </p>
        <p class="textIdeal">
            <label>Preocupada</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/preocupada.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Preocupada")
        </p>
        <p class="textIdeal">
            <label>Valiente</label>
            <img style="width: 100px;height: 100px;" src="~/Imagenes/Test/Personalidades/valiente.jpg" />

            @Html.RadioButtonFor(model => model.Personalidad, "Valiente")
        </p>

    </div>
    @Html.LabelFor(model => model.ColorFavorito, htmlAttributes: new { @class = "control-label col-md-2" })
<div class="form-group">

    <p class="textIdeal">
        <label>Amarillo</label>
        <img style="width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/amarillo.png" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Amarillo")
    </p>
    <p class="textIdeal">
        <label>Azul celeste</label>
        <img style="width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/azul-celeste.jpg" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Azul celeste")
    </p>
    <p class="textIdeal">
        <label>Marrón</label>
        <img style=" width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/marron.jpg" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Marron")
    </p>
    <p class="textIdeal">
        <label>Naranja</label>
        <img style="width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/naranja.png" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Naranja")
    </p>
    <p class="textIdeal">
        <label>Negro</label>
        <img style=" width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/negro.jpg" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Negro")
    </p>
    <p class="textIdeal">
        <label>Púrpura</label>
        <img style="width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/purpura.png" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Purpura")
    </p>
    <p class="textIdeal">
        <label>Rojo</label>
        <img style="width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/rojo.jpg" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Rojo")
    </p>
    <p class="textIdeal">
        <label>Verde</label>
        <img style="width: 75px;height: 75px;" src="~/Imagenes/Test/Colores/verde.png" />

        @Html.RadioButtonFor(model => model.ColorFavorito, "Verde")
    </p>

</div>

    <div class="form-group">
         <input type="submit" style="margin-left: auto;margin-right: auto;margin-top: 20px;" value="Rellenar" class="btn btn-default" />
    </div>

}

<div class="parrafoCentrar">
    <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Index", "Home")
</div>
