@model WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel

@{
    ViewBag.Title = "Crear nueva Solicitud de Adopcion";
}

<h2>Crear nueva Solicitud de Adopcion</h2>


@using (Html.BeginForm("Create", "SolicitudAdopcion", FormMethod.Post, new { @class = "formGuapo" })) 
{
    @Html.AntiForgeryToken()
    

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <p class="text">
        @Html.LabelFor(model => model.idUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        
            @Html.DropDownListFor(model => model.idUsuario, ViewData["idUsuario"] as SelectList, "Selecciona un usuario")
    </p>

    <p class="text">
        @Html.LabelFor(model => model.idAnimal, htmlAttributes: new { @class = "control-label col-md-2" })
        
            @Html.DropDownListFor(model => model.idAnimal, ViewData["idAnimal"] as SelectList, "Selecciona un animal")
    </p>    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>

}

<div>
    <i class="fas fa-edit"></i> @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
