@model WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel

@{
    ViewBag.Title = "Detalles de la Solicitud de Adopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Solicitud de Adopcion</h2>
<section id="secanim">
    <main id="details">
        <article class="detalle">
           
               <div>
                    <h2>
                      
                   
                        @Html.DisplayFor(model => model.Nombre)
                    </h2>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.NomUsuario)</b>
                   
                        @Html.DisplayFor(model => model.NomUsuario)
                    </p>

                    <p>
                      
                    
                        <img style="display:block;margin:auto; width: 200px;height: 200px;" border-radius: 80%; src="/@Html.DisplayFor(model => model.FotoUsuario)" />
                    </p>

                    <h2>
                       
                   

                    
                        @Html.DisplayFor(model => model.NomAnimal)
                    </h2>
                      
                   

                    <p>
                        <img style="display:block;margin:auto; width: 200px;height: 200px;" border-radius: 80%; src="/@Html.DisplayFor(model => model.FotoAnimal)" />
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.AnimalesAcargo)</b>
                    
                        @Html.DisplayFor(model => model.AnimalesAcargo)
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.AmbienteConvivencia)</b>
                    
                        @Html.DisplayFor(model => model.AmbienteConvivencia)
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.TiempoLibre)</b>
                    
                        @Html.DisplayFor(model => model.TiempoLibre)
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.TodosAcuerdo)</b>
                   
                        @Html.DisplayFor(model => model.TodosAcuerdo)
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.MotivosAdopcion)</b>
                   
                        @Html.DisplayFor(model => model.MotivosAdopcion)
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.Estado)</b>

                        @Html.DisplayFor(model => model.Estado)
                    </p>

                    <p>
                        <b>@Html.DisplayNameFor(model => model.FechaSoli)</b>
                   
                        @Html.DisplayFor(model => model.FechaSoli)
                    </p>

                </div>
               <div>
                   <p>@Html.ActionLink("Aceptar solicitud", "AceptarSolicitud", new { idSol = Model.Id, idUsu = Model.idUsuario, idAni = Model.NomAnimal })</p>
                   <p>@Html.ActionLink("Rechazar solicitud", "RechazarSolicitud", new { idSol = Model.Id, idUsu = Model.idUsuario, idAni = Model.NomAnimal })</p>




                   <p> @Html.ActionLink("Editar", "Edit", new { id = Model.Id })</p>
                   <p>@Html.ActionLink("Volver a la lista", "Index")</p>
               </div>
           </article>
        </main>
    </section>
