@model WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel

@{
    ViewBag.Title = "Detalles de la Solicitud de Adopcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Solicitud de Adopcion</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoUsuario)
        </dt>

        <dd>
            <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(model => model.FotoUsuario)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomAnimal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomAnimal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FotoAnimal)
        </dt>

        <dd>
            <img style="display:block;margin:auto; width: 200px;height: 200px;" src="/@Html.DisplayFor(model => model.FotoAnimal)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnimalesAcargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalesAcargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmbienteConvivencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmbienteConvivencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoLibre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoLibre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TodosAcuerdo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodosAcuerdo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivosAdopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivosAdopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSoli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSoli)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
