@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Solicitudes de adopcion";
}

<h2>Solicitudes de adopcion</h2>

<p>
    @Html.ActionLink("Crear nueva solicitud", "Create")
</p>
<main id="mainart">

   
   
   
  

@foreach (var item in Model)
{
    <article class="articulos">
        <div>
            @if (item.Nombre != null && !item.Nombre.Equals(""))
            {


             <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>


            }
            else
            {
            <h2> @Html.DisplayFor(modelItem => item.Nombre);</h2>
            }
        

                <p>
                   <b>Usuario:</b>
                @Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null) </p>
                <img style="margin:auto; border-radius: 80%; width: 100px;height: 100px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />
           
                <p>
                    <b>Animal:</b>
                    @Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null)
                </p>    
        <img style="margin:auto; border-radius: 80%; width: 100px;height: 100px;" src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />
            
        
            @if (item.Estado.ToString().Equals("enEspera"))
            {
                <p>
                    <b>Estado:</b>
                    En espera
                </p>
            }
            else
            {

                <p>
                    <b>Estado:</b>
                    @Html.DisplayFor(modelItem => item.Estado)
                </p>

            }

            <p>
                <b>Fecha de Solicitud:</b>
                @Html.DisplayFor(modelItem => item.FechaSoli)
            </p>
        </div>

        <div>
            <p>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
            <p>@Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id })</p>
            <p>@Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
            <p>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>
        </div> 
    </article>
        }
        </main>
       
        <br />
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        <div>
            @Html.ActionLink("Volver a inicio", "Indexad", "Home")
        </div>
