@model IEnumerable<WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel>

@{
    ViewBag.Title = "Solicitudes de adopcion";
}

<h2>Solicitudes de adopcion</h2>

<p>
    @Html.ActionLink("Crear nueva solicitud", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idUsuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idAnimal)
    </td>
    @if (item.Estado.ToString().Equals("enEspera"))
    {
        <td>En espera</td>
    }
    else
    {
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    }
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>

<div>
    @Html.ActionLink("Volver a inicio", "Index", "Home")
</div>
