@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Solicitudes de adopcion";
}

<h2>Solicitudes de adopcion</h2>

<p>
    <i class="fas fa-plus"></i> @Html.ActionLink("Crear nueva solicitud", "Create")
</p>

<table style="width:50%; margin-left:auto; margin-right:auto; margin-bottom:1em;" class="table">
    <tr>
        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Nombre : @Html.TextBox("nameSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Usuario : @Html.TextBox("usuSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Nombre : @Html.TextBox("aniSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Estado : @Html.TextBox("estSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }

        @using (Html.BeginForm())
        {
            <th style="padding:1em;">
                Fecha(dd/mm/yyyy): @Html.TextBox("dateSearch") <input style="display:none;" type="submit" value="Buscar" />
            </th>
        }
    </tr>

    <tr>
        <th>
            @Html.ActionLink("Ordenar por Nombre", "Index", new { sortOrder = ViewBag.NameSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Usuario", "Index", new { sortOrder = ViewBag.UsuSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Animal", "Index", new { sortOrder = ViewBag.AniSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Estado", "Index", new { sortOrder = ViewBag.EstSort })
        </th>
        <th>
            @Html.ActionLink("Ordenar por Fecha", "Index", new { sortOrder = ViewBag.DateSort })
        </th>
    </tr>
</table>

<main id="mainart">


    @if (((string)TempData["mensajeModal"]) != null)
    {
        <div id="capafondo">
            <!--  <script>"mensajeModal();"</script> -->
            <article id="ar">
                <h2>Solicitud de Adopción</h2>
                <p>
                    @((string)TempData["mensajeModal"])
                </p>

                <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
            </article>
        </div>


    }



    @foreach (var item in Model)
    {
        <article class="articulos">
            <div>
                @if (item.Nombre != null && !item.Nombre.Equals(""))
                {


                    <h2>@Html.ActionLink(item.Nombre, "Details", new { id = item.Id })</h2>


                }
                else
                {
                    <h2> @Html.DisplayFor(modelItem => item.Nombre)</h2>
                }


                <p>
                    <b>Usuario:</b>
                    @Html.ActionLink(item.NomUsuario, "Details", "Usuario", new { email = item.idUsuario }, htmlAttributes: null)
                </p>
                <img style="margin:auto; border-radius: 80%; width: 100px;height: 100px;" src="/@Html.DisplayFor(modelItem => item.FotoUsuario)" />

                <p>
                    <b>Animal:</b>
                    @Html.ActionLink(item.NomAnimal, "Details", "Animal", new { id = item.idAnimal }, htmlAttributes: null)
                </p>
                <img style="margin:auto; border-radius: 80%; width: 100px;height: 100px;" src="/@Html.DisplayFor(modelItem => item.FotoAnimal)" />


                @if (item.Estado.ToString().Equals("enEspera"))
                {
                    <p>
                        <b>Estado:</b>
                        En espera
                    </p>
                }
                else
                {

                    <p>
                        <b>Estado:</b>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </p>

                }

                <p>
                    <b>Fecha de Solicitud:</b>
                    @Html.DisplayFor(modelItem => item.FechaSoli)
                </p>
            </div>

            <div>
                <p><i class="fas fa-thumbs-up"></i> @Html.ActionLink("Aceptar solicitud", "AceptarSolicitud", new { idSol = item.Id, idUsu = item.idUsuario, idAni = item.NomAnimal })</p>
                <p><i class="fas fa-thumbs-down"></i> @Html.ActionLink("Rechazar solicitud", "RechazarSolicitud", new { idSol = item.Id, idUsu = item.idUsuario, idAni = item.NomAnimal })</p>

                <p><i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { id = item.Id })</p>
                <p><i class="fas fa-redo"></i> @Html.ActionLink("Actualizar Estado", "ActualizarEstado", new { id = item.Id })</p>
                <p><i class="fas fa-info"></i> @Html.ActionLink("Detalles", "Details", new { id = item.Id })</p>
                <p><i class="fas fa-trash"></i> @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })</p>
            </div>
        </article>
    }
</main>

<br />
@*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
@if (Model.Any())
{
    <p style="text-align: center;margin-top: 10px;font-size: 18px"> Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
    @*<p style="text-align: center;">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>*@
}
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<p class="parrafoCentrar"><i class="fas fa-thumbs-down"></i> @Html.ActionLink("Rechazar todas", "RechazarTodasSolicitud")</p>
<p class="parrafoCentrar">
    <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Indexad", "Home")
</p>


