@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.SolicitudAdopcionViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ObtenerSolicitudUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de solicitudes de adopcion del usuario: @ViewData["NombreUsuario"]</h2>

<p>
    @Html.ActionLink("Crear nueva solicitud", "Create")
</p>
<p>
    @Html.ActionLink("Volver a usuarios", "Index", "Usuario")
</p>
<table class="table">
    @{
        if (Model.Any())
        {
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Animales a cargo
                </th>
                <th>
                    Ambiente convivencia
                </th>
                <th>
                    Tiempo libre
                </th>
                <th>
                    Todos de acuerdo
                </th>
                <th>
                    Motivos de adopción
                </th>
                <th>
                    Fecha solicitud
                </th>
            </tr>
        }
        else
        {
            <tr>No tiene solicitudes de adopcion</tr>
        }
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalesAcargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmbienteConvivencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoLibre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TodosAcuerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivosAdopcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSoli)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }) |

                 
                    @if (item.Estado.ToString().Equals("aceptado"))
                    {

                        <p>@Html.ActionLink("Contrato", "contratoRellenar", new { id = item.Id, ani = item.idAnimal })</p>
                    }

            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
