@model WebProtectoraMilpatitas.Models.UsuarioViewModel
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;

@{
    ViewBag.Title = "Protectoramilpatitas - Página de detalle de usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de usuario</h2>
<section id="secanim">
    <main id="details">
        <article class="detalle">


            <h2>@Html.DisplayFor(model => model.Nombre)</h2>
            <img style="width:400px;height:400px; border-radius: 80%;" src="/@Html.DisplayFor(model => model.Foto)" />
            
            
            <div id="datis">
                <p>
                    <b>Nombre:</b>
                    @Html.DisplayFor(modelItem => Model.Nombre)
                </p>
                <p>
                    <b>Email:</b>
                    @Html.DisplayFor(modelItem => Model.Email)
                </p>
              

            </div>
          
                <p>
                @Html.ActionLink("Editar", "Edit", new { email = Model.Email })
                </p>
                <p>
                    @{

                        if (Session["Usuario"] != null)
                        {
                            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                            {
                                @Html.ActionLink("Volver a la lista", "Index")
                            }
                            else
                            {
                                @Html.ActionLink("Volver a inicio", "Index", "Home")
                            }
                        }
                    }

                </p>

        </article>
    </main>
</section>
