@model WebProtectoraMilpatitas.Models.UsuarioViewModel
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;

@{
    ViewBag.Title = "Protectoramilpatitas - Página de detalle de usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle de usuario</h2>
<section id="secanim">
    <main id="details">
        <article class="detalleUsu">


            <h2>@Html.DisplayFor(model => model.Nombre)</h2>
            <div class="img">
                <img style="border-radius: 80%;display: block;margin: auto;" src="/@Html.DisplayFor(model => model.Foto)" />
            </div>
            
            <div id="datisUsu">
                <p>
                    <b>Nombre:</b>
                    @Html.DisplayFor(modelItem => Model.Nombre)
                </p>
                <p>
                    <b>Email:</b>
                    @Html.DisplayFor(modelItem => Model.Email)
                </p>
              

            </div>
          
                <p>
                    <i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { email = Model.Email })
                </p>
                <p>
                    @{

                        if (Session["Usuario"] != null)
                        {
                            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
                            {
                                <i class="fas fa-user"></i> @Html.ActionLink("Volver a la lista", "Index")
                            }
                            else
                            {
                                <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Index", "Home")
                            }
                        }
                    }

                </p>

        </article>
    </main>
</section>
