@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.UsuarioViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ProtectoraMilPatitas-Administrador: Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (((string)TempData["mensajeModal"]) != null)
{
    <div id="capafondo">
        <!--  <script>"mensajeModal();"</script> -->
        <article id="ar">
            <h2>Usuario</h2>
            <p>
                @((string)TempData["mensajeModal"])
            </p>

            <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
        </article>
    </div>


}

<h2>Filtrar usuarios por: </h2>
<div class="readFilters" style="margin-right: auto;margin-left: auto;">
    <ul class="readFiltersUls">
        <li>
            @using (Html.BeginForm())
            {
            <p>
                <label class="textLabel"> Nombre: </label>
                <label class="searchPoner">
                    @Html.TextBox("nameSearch")<input style="display:none;" id="buscNombreUsu" type="submit" value="Buscar" />
                    <label for="buscNombreUsu" style="margin-left: 10px;" class="fas fa-search"></label>
                </label>
            </p>
            }
        </li>
    </ul>
</div>   
<h2>Ordenar usuarios por:</h2>
<div class="enlacesOrdenar">
    <h3 style="margin-left: auto;margin-right: auto;">@Html.ActionLink("Ordenar por Nombre", "Index", new { sortOrder = ViewBag.NameSort })</h3>
</div>
            <h2>Usuarios</h2>

            <main id="mainart">

                @foreach (var item in Model)
                {

                    <article class="articulos">
                        @if (item.Nombre != null && !item.Nombre.Equals(""))
                        {
                            <h2 class="titleUsus">@Html.DisplayFor(modelItem => item.Nombre)</h2>
                        }
                        else
                        {
                            <h2 class="titleUsus">  @Html.DisplayFor(modelItem => item.Nombre);</h2>
                        }
                        <div style="display: block;margin: auto;">
                            <img style="display: block;margin: auto;" src="/@Html.DisplayFor(modelItem => item.Foto)" />
                        </div>
                        <div>
                            <p><i class="fas fa-info"></i> @Html.ActionLink("Detalles", "Details", new { email = item.Email })</p>
                            <p><i class="fas fa-comment-dots"></i> @Html.ActionLink("Chatear con Usuario", "Index", "Mensaje", new { email = item.Email }, htmlAttributes: null)</p>
                            <p><i class="fas fa-edit"></i> @Html.ActionLink("Obtener Solicitudes", "ObtenerSolicitudUsuario", "SolicitudAdopcion", new { email = item.Email }, htmlAttributes: null)</p>
                            <p><i class="fas fa-file-signature"></i> @Html.ActionLink("Obtener Contratos", "ObtenerContratoUsuario", "ContratoAdopcion", new { email = item.Email }, htmlAttributes: null)</p>
                            <p><i class="fas fa-eye"></i> @Html.ActionLink("Obtener Seguimientos", "ObtenerSeguimientoUsuario", "Seguimiento", new { email = item.Email }, htmlAttributes: null)</p>
                            <p><i class="fas fa-paw"></i> @Html.ActionLink("Obtener Mascotas", "ObtenerAnimalesPorUsuario", "Animal", new { email = item.Email }, htmlAttributes: null)</p>
                            <p><i class="fas fa-trash"></i> @Html.ActionLink("Eliminar", "Delete", new { email = item.Email })</p>
                        </div>
                    </article>
                }
            </main>

            <br />
            @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@
            @if (Model.Any())
            {
                <p style="text-align: center;margin-top: 10px;font-size: 18px"> Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>
                @*<p style="text-align: center;">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</p>*@
            }
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            <p class="parrafoCentrar">
                <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Indexad", "Home")
            </p>
