@model IEnumerable<WebProtectoraMilpatitas.Models.UsuarioViewModel>

@{
    ViewBag.Title = "ProtectoraMilPatitas-Administrador: Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { email = item.Email }) |
            @Html.ActionLink("Obtener Solicitudes Adopcion", "ObtenerSolicitudUsuario", "SolicitudAdopcion", new { email = item.Email }, htmlAttributes: null) |
            @Html.ActionLink("Obtener Contratos Adopcion", "ObtenerContratoUsuario", "ContratoAdopcion", new { email = item.Email }, htmlAttributes: null)|
            @Html.ActionLink("Obtener Seguimientos", "ObtenerSeguimientoUsuario", "Seguimiento", new { email = item.Email }, htmlAttributes: null) |
            @Html.ActionLink("Delete", "Delete", new { email = item.Email })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Volver a inicio", "Index", "Home")
</div>
