@model WebProtectoraMilpatitas.Models.UsuarioViewModel
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;
@{

    if (Session["Usuario"] != null)
    {
        if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUsu.cshtml";
        }
    }
}

<div>
    <h4>Mis datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img style="width:200px;height:200px" src="/@Html.DisplayFor(model => model.Foto)" />
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { email = Model.Email })
</p>
<p>
    @Html.ActionLink("Ver mis mascotas", "ObtenerAnimalesPorUsuario", "Animal", new { email = Model.Email }, htmlAttributes: null) 
</p>
<p>
    @Html.ActionLink("Ver mis solicitudes de adopción", "ObtenerSolicitudUsuario", "SolicitudAdopcion", new { email = Model.Email }, htmlAttributes: null) 
</p>
<p>
    @Html.ActionLink("Ver mis contratos de adopción", "ObtenerContratoUsuario", "ContratoAdopcion", new { email = Model.Email }, htmlAttributes: null)
</p>
<p>
    @Html.ActionLink("Ver mis seguimientos", "ObtenerSeguimientoUsuario", "Seguimiento", new { email = Model.Email }, htmlAttributes: null)
</p>
<p>
    <a href="chat.html">Chatear con administrador</a>.
</p>
<p>
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                @Html.ActionLink("Volver a inicio", "Indexad", "Home")
            }
            else
            {
                @Html.ActionLink("Volver a inicio", "Index", "Home")
            }
        }
    }
</p>
