@model WebProtectoraMilpatitas.Models.UsuarioViewModel
@using ProtectoraMilpatitasGenNHibernate.EN.ProtectoraMilpatitas;
@{

    if (Session["Usuario"] != null)
    {
        if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutUsu.cshtml";
        }
    }
}


    <h2>Mis datos</h2>
    <section id="secanim">
        <main id="details">
            <article class="detalle">
                <h2>@Html.DisplayFor(model => model.Nombre)</h2>
                <div>
                    <p>
                        <b>@Html.DisplayNameFor(model => model.Nombre)</b>



                        @Html.DisplayFor(model => model.Nombre)
                    </p>
                    <p>

                        <b>@Html.DisplayNameFor(model => model.Email)</b>



                        @Html.DisplayFor(model => model.Email)
                    </p>

                 



                    <p>
                        <img style="width:200px;height:200px" src="/@Html.DisplayFor(model => model.Foto)" />
                    </p>
                </div>

                <div>
                    <p>
                        <i class="fas fa-pen"></i> @Html.ActionLink("Editar", "Edit", new { email = Model.Email })
                    </p>
                    @{

                        if (Session["Usuario"] != null)
                        {
                            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(UsuarioEN))
                            {
                                <p>
                                    <i class="fas fa-paw"></i> @Html.ActionLink("Ver mis mascotas", "ObtenerAnimalesPorUsuario", "Animal", new { email = Model.Email }, htmlAttributes: null)
                                </p>
                                <p>
                                    <i class="fas fa-edit"></i> @Html.ActionLink("Ver mis solicitudes de adopción", "ObtenerSolicitudUsuario", "SolicitudAdopcion", new { email = Model.Email }, htmlAttributes: null)
                                </p>
                                <p>
                                    <i class="fas fa-file-signature"></i> @Html.ActionLink("Ver mis contratos de adopción", "ObtenerContratoUsuario", "ContratoAdopcion", new { email = Model.Email }, htmlAttributes: null)
                                </p>
                                <p>
                                    <i class="fas fa-eye"></i> @Html.ActionLink("Ver mis seguimientos", "ObtenerSeguimientoUsuario", "Seguimiento", new { email = Model.Email }, htmlAttributes: null)
                                </p>
                                <p>
                                    <i class="fas fa-comment-dots"></i> @Html.ActionLink("Chat con protectora", "Index", "Mensaje", new { email = Model.Email }, htmlAttributes: null)
                                </p>
                            }
                        }
                    }

                    <p>
                </div>
            </article>
        </main>
    </section>
    @{

        if (Session["Usuario"] != null)
        {
            if (((UsuarioEN)Session["Usuario"]).GetType() == typeof(AdministradorEN))
            {
                <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Indexad", "Home")
            }
            else
            {
                <i class="fas fa-home"></i> @Html.ActionLink("Volver a inicio", "Index", "Home")
            }
        }
    }
  
