@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.EspecieViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index especies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Especies</h2>

<h3>@Html.ActionLink("Razas", "Index", "Raza")</h3>

<p>
    @Html.ActionLink("Crear nueva especie", "Create")
</p>

@if (((string)TempData["mensajeModalEspecie"]) != null)
{
    <div id="capafondo">

        <article id="ar">
            <h2>Especie</h2>
            <p>
                @((string)TempData["mensajeModalEspecie"])
            </p>
            <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
        </article>
    </div>


}

<table class="table">
    <tr>
        <th>
            Nombre Especie
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Obtener animales por especie", "ObtenerAnimalesPorEspecie", "Animal", new { p_especie = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Obtener razas por especie", "ObtenerRazasPorEspecie", "Raza", new { p_especie = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div>
    @Html.ActionLink("Volver a animales", "Index", "Animal")
</div>
