@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.RazaViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index razas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Razas</h2>

<p>
    @Html.ActionLink("Crear nueva raza", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre raza: @Html.TextBox("nameRazaSearch")
        <input type="submit" value="Buscar" />
    </p>
}

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre especie: @Html.TextBox("nameEspecieSearch")
        <input type="submit" value="Buscar" />
    </p>
}

@if (((string)TempData["mensajeModalRaza"]) != null)
{
    <div id="capafondo">

        <article id="ar">
            <h2>Raza</h2>
            <p>
                @((string)TempData["mensajeModalRaza"])
            </p>
            <footer><button class="button" onclick="cerrarMensajeModal();">cerrar</button></footer>
        </article>
    </div>


}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre Raza", "Index", new { sortOrder = ViewBag.NameRazaSort })
        </th>
        <th>
            @Html.ActionLink("Nombre Especie", "Index", new { sortOrder = ViewBag.NameEspecieSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEspecie)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div>
    @Html.ActionLink("Volver a especies", "Index", "Especie")
</div>
