@model PagedList.IPagedList<WebProtectoraMilpatitas.Models.RazaViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "ObtenerRazasPorEspecie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obtener Razas Por Especie</h2>

<p>
    @Html.ActionLink("Crear nueva raza", "Create")
</p>
<table class="table">
    @{
        if (Model.Any())
        {
            <tr>
                <th>
                    Nombre Raza
                </th>
                <th>
                    Nombre Especie
                </th>
                <th></th>
            </tr>
        }
        else
        {
            <tr>No tiene razas de esa especie</tr>
        }
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEspecie)
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
<div>
    @Html.ActionLink("Volver a especies", "Index")
</div>
